{% extends "base.html" %}

{% block content %}
<h2>All News</h2>

<div id="create-form">
    <h2>Create News</h2>
    <form action="/create-news" method="post">
        <input type="text" id="title" name="title" placeholder="Title">
        <input type="textarea" id="description" name="description" placeholder="Description" rows="15">
        <input type="submit" value="Create" class="btn">
        <a href="/logout" class="btn">Logout</a>
    </form>
</div>
<div id="update-form hidden">
    <h2>Edit News</h2>
    <form action="/update-news" method="post">
        <input type="text" id="title" name="title" placeholder="Title">
        <input type="textarea" id="description" name="description" placeholder="Description" rows="15">
        <input type="submit" value="Save" class="btn">
        <a href="/logout" class="btn">Logout</a>
    </form>
</div>
{% endblock %}