* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url('Images/waves.svg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width:100%;
}

#content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content > * {
    width: 100%;
}

#content img.logo {
    width: 100px;
    margin-bottom: 50px;
}

#content .btn {
    width: 100%;
    background-color: #16396B;
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

#content input {
    width: 100%;
    display: block;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    color: #16396B;
}

#content input::placeholder {
    color: #7F92AD;
}

.flash-message {
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    box-sizing: border-box;
}
  
.flash-message.error {
    color: #D06B6B;
    border: 1px solid #FFC0C0;
    background: #FFF0F0;
}

.flash-message.success {
    color: #5AA013;
    border: 1px solid #D3FFA8;
    background: #F6FFF0;
}

#content a {
    display: block;
    font-size: 16px;
}

#content h2 {
    color: #16396B;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}